*{
    padding: 0;
    margin: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
/* This styles all input elements */
input{
    font-family: inherit;
}

textarea{
    font-family: inherit;
}
a{
    text-decoration: none;
}
/* Ensure the main section background shows on all screen sizes */
.main_section_image{
    min-height: 300px;
    width: 100%;
    background-image: url("../Images/mainsectionhouse.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (min-width:1200px){
    header{
        height: 100px;
        width: 100%;
    }
    nav{
        height: 70px;
        width: 80vw;
        background-color: white;
    }
    .logo{
        font-weight: 700;
        font-size: 20px;
    }
    .nav_link1{
        height: 100%;
        width: 25vw;
    }
    .nav_link1>a{
        height: 40px;
        width: 6vw;
        text-align: center;
        align-content: center;
        border-radius: 5px 5px 5px 5px;
        text-decoration: none;
        color: black;
    }
    .nav_link1>a:hover{
        height: 40px;
        width: 6vw;
        transition-duration: 0.5s;
        color: white;
        background-color: black;
    }
    .nav_link2{
        height: 100%;
        width: 18vw;
    }
    .nav_link2>a{
        height: 40px;
        width: 8vw;
        border-radius: 5px 5px 5px 5px;
        text-align: center;
        align-content: center;
        text-decoration: none;
        color: black;
    }
    .login:hover{
        transition: 0.5s;
        color: white;
        background-color: black;
    }
    .signin{
        border: 1px solid grey;
    }
    .signin:hover{
        transition-duration: 0.5s;
        background-color: #d3d3d3;
    }
    /* This styles the section element */
    section{
        height: 1000px;
        width: 100%;
        border: 1px solid;
    }
    .main_img{
        height: 600px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_section_image{
        height: 500px;
        width: 80vw;
        background-image: url("../Images/mainsectionhouse.jpg");
    }
    .title{
        width: 40vw;
        border: 1px solid white;
        font-size: 40px;
        padding: 20px;
        margin-left: 40px;
        font-weight: 700;
    }
}